<!-- Title -->
<!-- Full-width fluid until the `md` breakpoint, then lock to container -->
<div class="md:container md:mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500">
  <!-- ... -->

  <div class="flex flex-wrap overflow-hidden">
    <div>
      <app-user [titles]="titles" class="text-green-600">
      </app-user>
    </div>
    <!-- <div>
      <app-user [username]="username" class="text-green-600" (changeUsernameEmitter)="changeUsername()">
      </app-user>
    </div> -->

    <div class="rounded-t-xl overflow-hidden bg-gradient-to-r from-fuchsia-50 to-fuchsia-100 p-4">
      <div class="flex justify-center relative h-28 text-center transform translate-x-12">
        <div
          class="z-40 relative w-20 h-20 bg-fuchsia-500 border-r border-opacity-50 border-fuchsia-600 rounded-md shadow-md flex justify-center items-center text-white text-2xl font-extrabold">
          5</div>
        <div
          class="z-30 relative w-20 h-20 -left-6 top-2 bg-fuchsia-500 border-r border-opacity-50 border-fuchsia-600 rounded-md shadow-md flex justify-center items-center text-white text-2xl font-extrabold">
          4</div>
        <div
          class="z-20 relative w-20 h-20 -left-12 top-4 bg-fuchsia-500 border-r border-opacity-50 border-fuchsia-600 rounded-md shadow-md flex justify-center items-center text-white text-2xl font-extrabold">
          3</div>
        <div
          class="z-10 relative w-20 h-20 -left-18 top-6 bg-fuchsia-500 border-r border-opacity-50 border-fuchsia-600 rounded-md shadow-md flex justify-center items-center text-white text-2xl font-extrabold">
          2</div>
        <div
          class="z-0 relative w-20 h-20 -left-24 top-8 bg-fuchsia-500 rounded-md shadow-md flex justify-center items-center text-white text-2xl font-extrabold">
          1</div>
      </div>
    </div>

  </div>
  <div>
    <span>

      <img [src]="" alt="bandImgList">
      <img src="../assets/images/toxicheart.jpeg" alt="Band"
        class="transition duration-500 ease-in-out bg-blue-600 hover:bg-red-600 transform hover:-translate-y-1 hover:scale-110">
      <img src="../assets/images/valium.jpeg" alt="Band">
      <img src="../assets/images/graphzine.jpeg" alt="Band">
      <img src="../assets/images/graphzine2.jpeg" alt="Band">
      <img src="../assets/images/images.jpeg" alt="Band">
      <p>See news: we have disc from {{ bandNameList }} here ! </p>
      <img [src]="getSelectedPictureUrl()" [alt]="bandNameList">
      <button type="button" (click)="selectNextPicture()">NEXT</button>
      <button type="button" [disabled]="!isAvailable">NEW</button>
      <button class="py-2 px-3 m-2 bg-blue-500 hover:bg-nav-hover-blue rounded-md text-white">Click Me!</button>

    </span>

    <table>
      <thead>
        <tr>
          <th>Style</th>
          <th>Groupe</th>
          <th>Album</th>
          <th>Ecouter</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let username of usernames; let i = index">

        </tr>
      </tbody>
    </table>
    <div>
      <p>Hey</p>
      <img *ngFor="let pictureUrl of bandPictureUrlList; let index=index" class="wt-picture-preview"
        [class.wt-selected]="index === selectedPictureWithIndex" src="pictureUrl"
        (dblclick)="selectPictureWithIndex(index)">
    </div>

    <div>
      <button type="button" [disabled]="!isAvailable">BUY</button>
    </div>

  </div>
  <!-- Resources -->



  <!-- Footer -->
  <footer>
    <span>
      <h2>Follow Your Dreamm</h2>
      <th scope="row">{{bandNameList}}</th>


    </span>

    <div>
      <img src="../assets/images/toxicheart.jpeg" alt="">

    </div>

  </footer>


</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>