<div>
    <h1>{{ titles }}</h1>
    <p>Do you wanna listen a song by: {{ usernames }} ?</p>

    <span>Here we love {{ username }} so much, what a great musician ! </span>

    <button [disabled]="disabled" class="disabled:opacity-50 
            py-2 px-3 m-2 bg-gray-500 
            hover:bg-nav-hover-blue rounded-md text-white" (click)="onClickChangeUsername()">
        change value
    </button>

    <button class="disabled:opacity-50 py-2 px-3 m-2 bg-green-500 
    hover:bg-nav-hover-blue rounded-md text-white" (click)="onClickButton()">change last BTN</button>

    <button class="disabled:opacity-50 bg-purple-800" [disabled]>
        Submit
    </button>
</div>